/* html {
    font-size: 10px;
    background-image: url(./assets/images/animal5504875.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */


body {
    padding: 0;
    margin: 0;
}

#head-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#head-inner {
    display: flex;
    justify-content: center;
    width: 100%;
}

#head-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

#sounds {
    display: flex;
    justify-content: center;
    width: 100%;
}

#keyRow {
    display: flex;
    justify-content: center;
    width: 100%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: grey;
}

.letter {
    text-align: center;
}