/* html {
    font-size: 10px;
    background-image: url(./assets/images/animal5504875.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */


body {
    background: url("./assets/images/animal5504875.jpg") no-repeat bottom fixed;
    /* filter: blur(1px); */
    background-color: white;
    background-size: cover;
    /* padding-top: 400px;
    margin-top: 400px; */
}

/* #back-image {
    background: url("./assets/images/animal5504875.jpg") no-repeat center fixed;
    background-color: white;
    background-size: cover;
    padding-top: 100px;
    margin-top: 150px; 
} */

#head-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#header {
    display: flex;
    justify-content: center;
    width: 100%;
}

#head-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
}

#sounds {
    display: flex;
    justify-content: center;
    width: 100%;
}

#keyRow {
    display: flex;
    justify-content: center;
    width: 100%;
}

.key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 75px;
    width: 75px;
    border-radius: 5px;
    background-color: grey;
    opacity: 0.6;
    color: black;
    font-size: 25px;
}

#sound-name {
    font-size: 15px;
    color: yellow;
}

.letter {
    text-align: center;
}